.button {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0.8rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  transition-duration: 0.3s;
}

.button:hover {
  transform: scale(1.01);
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.9);
}

.button--primary {
  background-color: var(--mainGreen);
  text-decoration: none;
  color: var(--backgroundColor);
  border: 2px solid var(--backgroundColor);
}

.button--primary:hover {
  box-shadow: var(--whiteShadow);
}

.button--secondary {
  background-color: var(--textColor);
  color: var(--backgroundColor);
  border: 2px solid var(--backgroundColor);
}
