.form__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: calc(60vh - 24rem);
  max-width: 768px;
  margin: 0 auto;
}

.form__fields {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
