.card {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 1rem;
  max-width: 100%;
  border-radius: 0.8rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__image {
  width: 50%;
}

.card__info {
  font-size: 1rem;
}

.card__info__technologies {
  display: flex;
  flex-wrap: wrap;
  text-decoration: underline;
  justify-content: center;
  gap: 0.3rem;
  margin: 1rem 0;
}

.card__info__technologies > a:not(:last-child) {
  position: relative;
  content: ",\00a0";
}

.card__buttons {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card__position {
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .card:nth-child(even) {
    margin-top: 2rem;
  }
}
