@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --backgroundColor: #0c0c0c;
  --mainGreen: #00e0ab;
  --darkGray: #1d1d1d;
  --textColor: #f2f2f2;
  --whiteShadow: 0px 0px 4px 0px var(--textColor);
}

* {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", "Plus Jakarta Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--backgroundColor);
}

a {
  font-weight: 400;
  text-decoration: none;
}

br {
  margin: 2rem 0;
}

.app__element {
  background-color: var(--darkGray);
  border-radius: 1rem;
  box-shadow: var(--whiteShadow);
}

.page {
  padding: 1rem;
  overflow: auto;
  max-height: calc(100vh - 8rem);
}

.page__title {
  color: var(--textColor);
  text-align: center;
}

.content {
  grid-area: content;
}

.green-text {
  color: var(--mainGreen);
}

.app {
  display: grid;
  grid-template-rows: calc(100vh - 6rem) 3rem;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "content content content"
    "header header header";
}

@media (min-width: 768px) {
  .app {
    min-height: 100vh;
    grid-template-areas:
      "header content content"
      "header content content";
    grid-template-rows: 1fr;
    grid-template-columns: 3rem calc(100vw - 6rem);
  }

  .page {
    max-height: calc(100vh - 2rem);
  }

  .content {
    max-width: calc(100vw - 6rem);
  }
}
